@use "../../styles/variables" as v;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: v.$space-lg;

  p {
    color: v.$color-text-muted;
    font-size: v.$font-md;
    margin: 0;
  }
}