@use '../../styles/variables' as v;

.button {
  border: none;
  cursor: pointer;

  padding: 0.6rem 1.2rem;

  border-radius: v.$radius-sm;

  background-color: v.$color-primary;
  color: v.$color-text;

  font-size: v.$font-base;
  font-weight: v.$weight-medium;

  transition: v.$transition;

  &:hover {
    background-color: v.$color-primary-hover;
  }

  &:active {
    transform: scale(0.98);
  }
}
