@use '../../styles/variables' as v;

.error {
  padding: v.$space-sm;
  margin: v.$space-sm v.$space-lg;

  border-radius: v.$radius-sm;

  background-color: v.$color-error-bg;
  border: 1px solid rgba(239, 68, 68, 0.3);

  p {
    color: v.$color-error-text;
    text-align: center;
    margin: 0;
    font-size: v.$font-sm;
  }
}
