@use '../../styles/variables' as v;

.overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: v.$color-overlay;

  padding: v.$space-sm;

  animation: fadeIn v.$transition;
}

.modal {
  background-color: v.$color-modal;
  color: v.$color-text;

  max-width: 600px;
  width: 100%;

  padding: v.$space-lg;
  border-radius: v.$radius-md;

  position: relative;

  overflow-y: auto;
  max-height: 80vh;

  animation: slideUp 0.25s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
