@use '../../styles/media' as media;
@use '../../styles/variables' as v;

.bookGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: v.$space-lg;
  padding: v.$space-lg;
}

@include media.sm {
  .bookGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media.md {
  .bookGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media.lg {
  .bookGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
