@use "../../styles/media" as media;

.bookGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}

@include media.sm {
  .bookGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media.md {
  .bookGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media.lg {
  .bookGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}