@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;
@use "../../styles/media" as media;


.header {
  padding: 3rem 1rem;

  &__content {
    @include m.flex(column, 1rem);
  }

  &__title {
    font-family: v.$font-heading;
    font-size: v.$font-xxl;
    font-weight: v.$weight-bold;
    color: v.$color-text;
  }

  &__subtitle {
    font-family: v.$font-body;
    color: v.$color-text-muted;
  }

  @include media.md {
    padding: 5rem 2rem;

    &__title {
      font-size: 3.5rem;
    }
  }
}